@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: #def3ff;
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;

  background-image: url(/icons/bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav ul li:hover {
  color: #de5055;
}

nav ul li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 12px;
  bottom: 4px;
  left: 0;
  transform-origin: bottom;
  background-color: rgb(255, 119, 0);
  z-index: -1;
  opacity: 0.4;
  visibility: hidden;
  transform: scaleY(0);
  transition: all 0.2s ease-in-out 0s;
}

nav ul li:hover::before {
  visibility: visible;
  transform: scaleY(1);
}

nav ul li {
  position: relative;
  display: inline-block;

  cursor: pointer;
}

.more {
  display: none;
}

.link:hover + .more {
  display: flex;
}

.shape {
  position: absolute;
  z-index: -10;
  transition: transform 0.2s ease-out;
  opacity: 60%;

  animation: grow 1s ease-in-out ;

}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 60%;
  }
}
